@font-face {
  font-family: 'satoshi';
  src: url('/fonts/Satoshi-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'satoshi';
  src: url('/fonts/Satoshi-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'satoshi';
  src: url('/fonts/Satoshi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'satoshi';
  src: url('/fonts/Satoshi-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'satoshi';
  src: url('/fonts/Satoshi-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'satoshi';
  src: url('/fonts/Satoshi-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'satoshi';
  src: url('/fonts/Satoshi-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'satoshi';
  src: url('/fonts/Satoshi-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'satoshi';
  src: url('/fonts/Satoshi-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'satoshi';
  src: url('/fonts/Satoshi-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@import "tailwindcss";

@theme {
  --color-naranja: #ffca76;
  --color-blanco-50: #FBFBFB;
  --color-cafe: #E0E2D0;
  --color-verde: #3D7850;
  --font-satoshi: 'satoshi', sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

/* Estilos para scroll snap */
.snap-y {
  scroll-snap-type: y mandatory;
}

.snap-start {
  scroll-snap-align: start;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}

[data-is-sticky="true"] {
  transition: transform 0.3s ease-out;
}

/* Estilos para el componente Application */
#application-section {
  will-change: transform, opacity;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
